Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

# from outsite
Host 115.160.246.74
ForwardAgent           yes
ServerAliveInterval    260
TCPKeepAlive           yes
ProxyCommand           ssh -i ./ssh/keys/yo-itops.pem -W %h:%p ubuntu@tun-tv-prod-endpoint.tajawal.io
ControlMaster          auto
ControlPath            ~/.ssh/mux-%r@%h:%p
StrictHostKeyChecking  no
UserKnownHostsFile=/dev/null
ControlPersist         8h
User                   centos
IdentityFile           ./ssh/keys/yo-itops.pem

# from office
Host 192.*
ForwardAgent           yes
ServerAliveInterval    260
TCPKeepAlive           yes
ControlMaster          auto
ControlPath            ~/.ssh/mux-%r@%h:%p
StrictHostKeyChecking  no
UserKnownHostsFile=/dev/null
ControlPersist         8h
User                   ubuntu
IdentityFile           ./ssh/keys/yo-itops.pem
